ALLOWED_HOSTS=*
DEBUG=1
APPLY_MIGRATIONS=1
CREATE_ADMIN_USER=1
SEED_DEVELOPMENT_DATA=0
BOOTSTRAP_DIVISIONS=0
GDPR_API_ENABLED=1
GDPR_API_QUERY_SCOPE=jassariapi.gdprquery
GDPR_API_DELETE_SCOPE=jassariapi.gdprdelete
ADMIN_USER_PASSWORD=admin

TOKEN_AUTH_ACCEPTED_SCOPE_PREFIX=helsinkiprofile
TOKEN_AUTH_ACCEPTED_AUDIENCE=https://api.hel.fi/auth/helsinkiprofile
TOKEN_AUTH_AUTHSERVER_URL=http://tunnistamo-backend:8000/openid
TOKEN_AUTH_REQUIRE_SCOPE=True

HELSINKI_PROFILE_API_URL=http://profile-backend:8080/graphql/

OIDC_CLIENT_ID=<ENTER TUNNISTAMO CLIENT ID HERE>
OIDC_CLIENT_SECRET=<ENTER TUNNISTAMO CLIENT SECRET HERE>

AUDIT_LOGGING_ENABLED=1
