{% extends "base_template_fi.html" %}

{% block title %}Tervetuloa Helsingin kaupungin nuorisopalveluiden jäseneksi!{% endblock %}
{% block content %}
{% raw %}
{{ youth_profile.approver_first_name }} on hyväksynyt jäsenyytesi. Digitaalinen jäsenkorttisi löytyy täältä:
</br>
</br>
{% endraw %}
{{ macros.buttonLink(label="Jässäri", href="{{ youth_membership_ui_base_url }}/fi/") }}
{% raw %}
</br>
</br>
Lisätietoa nuorisopalveluiden jäsenyydestä ja sen eduista voit lukea osoitteesta {% endraw %} {{ macros.link("https://jassari.munstadi.fi", "https://jassari.munstadi.fi") }}.
{% endblock %}
