{% extends "email/base_template_sv.html" %}

{% block title %}Helsingfors stads ungdomstjänstansökan{% endblock %}
{% block content %}
{% raw %}
Hej {{ youth_profile.approver_first_name }},
</br>
</br>
{{ youth_name }} har skickat dig en ansökan om medlemskap i Helsingfors stads ungdomstjänster för godkännande. Medlemskapet är kostnadsfritt.
</br>
</br>
Om du godkänner ansökan, kan {{ youth_name }} delta i ungdomsgårdarnas verksamhet och få trevliga förmåner. Om det finns fel i uppgifterna, be den unga att korrigera dem och sedan skicka ett nytt bekräftelsemeddelande till dig. Du kan ge ditt godkännande med Jässäri-tjänsten via denna länk:
</br>
</br>
{% endraw %}
{{ macros.buttonLink("Visa applikationen", "{{ youth_membership_ui_base_url }}/sv/approve/{{ youth_profile.approval_token }}/{{ youth_profile.profile_access_token }}")  }}
{% endblock %}
