{% extends "email/base_template_ar.html" %}

{% block title %}Helsingin kaupungin nuorisopalvelujen jäsenyyshakemus{% endblock %}
{% block content %}
{% raw %}
مرحباً {{ youth_profile.approver_first_name }},
<br />
<br />
{{ youth_name }} قد أرسل من أجل موافقتك طلب العضوية لخدمات الشباب لمدينة هلسنكي. العضوية مجانية.
<br />
<br />
بالموافقة على الطلب، {{ youth_name }} يُصبح من الممكن المجيء إلى بيت الشباب والحصول على ميزات لطيفة. إذا كانت هناك أخطاء في المعلومات، فاطلب من الشاب تغيير المعلومات وأن يُرسل لك رسالة تأكيد جديدة. اذهب للتأكيد على خدمة ياسّاري باستخدام هذا الرابط:
<br />
<br />
{% endraw %}
{{ macros.buttonLink("Tarkastele hakemusta", "{{ youth_membership_ui_base_url }}/ar/approve/{{ youth_profile.approval_token }}/{{ youth_profile.profile_access_token }}")  }}
{% endblock %}
